<svg id="nav-menu-icon" onclick="act(this)" viewBox="0 0 24 24"><title>Navigation Menu</title><path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" /></svg>
<ul id="nav-menu-items" class="hideable" style="list-style: none;padding-left: 0;">
    <li><a href="/vision">Vision</a></li> 
    <li><a href="/calibration">Calibration</a></li>  
    <li><a href="/fence">Fence Editor</a></li>  
    <li><a href="/supervisor">Supervisor</a></li>  
    <li><a href="/navigator">Navigator</a></li> 
    <li><a href="/contours">Contours</a></li> 
    <li><a href="/projections">Projections</a></li> 
    <li><a href="/scoring">Scoring</a></li> 
    <li><a href="/stages">Stages</a></li>   
    <li><a href="/settings">Settings</a></li> 
    <li><a href="/console">Robot Console</a></li> 
    <li><a href="/guide#{{ compname }}" target="help">Help</a></li>
</ul>
<script>
    function act(elem) {
        elem.nextElementSibling.classList.toggle('visible');        
    }
    
    const menItms = document.querySelectorAll("#nav-menu-items a");
	for (var i = 0, len = menItms.length; i < len; i++) {
	  //left click will normally replace current tab contents, and close menu
      menItms[i].addEventListener("click", function(event) {
          //close menu
          menu_icon = document.getElementById('nav-menu-icon');
          act(menu_icon);
      });
	  
      //right click - open in new tab
	  menItms[i].addEventListener("contextmenu", function(event) {
		  //close menu
		  menu_icon = document.getElementById('nav-menu-icon');
		  act(menu_icon);
		  //open new tab
		  window.open(event.target.href, '_blank').focus();
		  //block context menu
		  event.preventDefault(); 
      });
	}
</script>