{% extends "layout.html" %} 
{% block title %}Supervisor{% endblock %}
{% block head %} {{ super() }}
<link rel="stylesheet" href="/styles/toolpane.css" />
<link rel="stylesheet" href="/styles/monitor.css" />
<link rel="stylesheet" href="/styles/supervisor.css" />
{% endblock %}
{% block header %}
    {% with toolpane = trio_selection_toolpane %}
        {% include "toolpane.html" %} 
    {% endwith %}
{% endblock %}
{% block navheader %}Supervisor{% endblock %}
{% block content %}
<main>
	<figure class="arena">
    	<figcaption>Arena View</figcaption>
        <div class="fig-img-body">
		    <div class="monitor">
		        {% with toolpane = cockpit_monitor_toolpane %}
		            {% include "toolpane.html" %}
		        {% endwith %}
		    </div>
		    <div class="marker-wrapper">
	    		<img id="img1" />
                <img class="marker" src="../icons/map_marker.png"></img>
				<div id="online-annotation" class="annotate" style="transform:scale(0);">
	    			Signal Strength
				</div>
				<div id="found-annotation" class="annotate" style="transform:scale(0);">
		       		Not Found
				</div>
				<div id="meas-annotation" class="annotate" style="transform:scale(0);">
	                Battery 100%
				</div>
            </div>
        </div>
	</figure>
	<figure class="controls">
        <figcaption>Controls</figcaption>
        <div class="figbody ToolPaneGrid">
		    {% with toolpane = cockpit_control_toolpane %}
		        {% include "toolpane.html" %}
		    {% endwith %}
        </div>
	</figure>
    <figure class="history">
        <figcaption id="history-tab" class="new-tab-caption">History</figcaption>
        <div class="figbody">
            <ul id="last-cmds-list">
            </ul>
            <ul id="last-comp-cmds-list">
            </ul>
        </div>
    </figure>
</main>
{% endblock %} 
{% block foot %} 
{{ super() }}
<script src="/scripts/tmplt-utils.js"></script>
<script src="/scripts/http-fetcher.js"></script>
<script src="/scripts/monitor-pane.js"></script>
<script src="/scripts/control-pane.js"></script>
<script>
    //create data fetcher url, refreshRate, useCacheBuster, isFreeRunning
    let df1 = new HttpFetcher("/metadata_json?progress=3", 3000, false); //leading
    //create image fetcher
    let if1 = new HttpFetcher("/arena_img?ts=", 0, true, false); //trailing
    const tpid = 'cockpitctrl';
    let cp = new ControlPane(tpid, df1);
    let mp = new MonitorPane('cockpitstate', 'cockpitctrl', df1);
    df1.addEventListener('body-available', function(event) {
        const json = event.detail;
        let url = '/arena_img?ts=';
        if (typeof(json.Locator) != 'undefined') {
            ssid = json.Locator.ssid;
            url = `/arena_img?ssid=${ssid}&ts=`;
	        if1.url = url;
	        if1.refresh();
        }//end avail
    });
    
    //listen for fetcher events
    if1.addEventListener('body-available', function(event) {
        document.getElementById('img1').src = event.detail;
    });
    if1.addEventListener('body-unavailable', function() {
        document.getElementById('img1').src = '/icons/camera-error.png';
    });
    if1.addEventListener('fetch-error', function() {
        //no server to fetch image?
        document.getElementById('img1').src = '';
    });
    if1.addEventListener('no-content', function(event) {
        const statusWidget = getWidget(tpid, "NAVIGATIONSTATUS");
        const statusMsg = 'No Content';
        if (typeof(statusWidget) != 'undefined') {
            statusWidget.value = statusMsg;
        }//end widget defined        

		sleep(5000).then(() => {
		    // Do something after the sleep!
		    if1.refresh();
		});
    });
    
    document.getElementById("img1").addEventListener("dblclick", driveToClickPosition, false);
    const arenaWidthM = {{arena_width_m}};
    const arenaLengthM = {{arena_length_m}};
    function updateClickPosition(e) {
        const mkr = document.getElementsByClassName("marker")[0];
        const rRect = getRenderedRect(e.currentTarget);
        const xClickRatio = e.offsetX / rRect.width;
        const yClickRatio = e.offsetY / rRect.height;
        mkr.style.left = `${xClickRatio * 100}%`;
        mkr.style.top = `${yClickRatio * 100}%`;
        const xm = (xClickRatio * arenaWidthM).toFixed(2);
        const ym = ((1 - yClickRatio) * arenaLengthM).toFixed(2);
        document.querySelector('input[data-key="Driveto.X"]').value = xm;
        document.querySelector('input[data-key="Driveto.Y"]').value = ym;
        sendData('PUT', 'api', 'plan-drive', `[${xm}, ${ym}]`);
    }
    function driveToClickPosition(e) {
        if (cp.driving == false) {
            updateClickPosition(e);
        }//end drive not in progress
    }//end drive to click position
    
    //add action link to 'History' tab
    document.getElementById('history-tab').addEventListener("click", function() {
        const logName='last-cmds';
        window.open(`/log_view?logname=${logName}`, 'history_view');
    });

</script>
{% endblock %}
