body {
	max-width: 800px;
	padding-right: 12px;
}
p {
	text-align: justify;
}
h2 ~ *:not(h1):not(h2) {
  margin-left: 2em;
}
h3 ~ *:not(h1):not(h2):not(h3) {
  margin-left: 3em;
}
h4 ~ *:not(h1):not(h2):not(h3):not(h4) {
  margin-left: 4em;
}
h5 ~ *:not(h1):not(h2):not(h3):not(h4):not(h5) {
  margin-left: 5em;
}
li img {
	vertical-align: middle;
	width: 32px;
	height: 32px;
	margin-right: 6px;
}
div {
	margin-block-start: 1em;
    margin-block-end: 1em;
}
h2::before {
    content:"";
    display:block;
    height: 16px;
}