.content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
main {
    flex: 2;
}
@media all and (max-width: 768px) {
    /* ADDITIONAL rules for smaller footprints */
    .content-container {
        flex-direction: column;
        flex-wrap: wrap;
    }
    main {
        min-height: 60vh;
        order: 1;
        flex: 2;
    }
}