main {
    height: 100%;
	display: grid;
	grid-template-rows: minmax(220px, 50%) minmax(220px, 50%);
	grid-template-columns: minmax(100px, 59.5%) minmax(100px, 40%);
    grid-template-areas:
    "arena controls"
    "arena history";
    gap: 4px;
    padding: 4px;
}
.figbody {
    /* height: calc(100% - 1.5em); from figure minus (caption + padding) */
    text-align: center;
    border: 2px solid var(--pxm-highlight-grey);
}
#img1 {
    width: 100%;
    height: 100%;
    object-fit: contain;
    grid-column: 1;
    grid-row: 1;
    cursor: url('../cursors/map_marker.png') 10.5 22, auto;
}
.marker {
    position: relative; /* so we can move it to top: 50%, left: 50% */
    top: -9999px;
    left: -9999px;
    grid-column: 1;/* share space with arena image */
    grid-row: 1;/* share space with arena image */
    transform: translate(-50%, -100%);
}
.arena {
  grid-area: arena;
}
.controls {
  grid-area: controls;
}
.history {
  grid-area: history;
}
.history .figbody {
	min-height: 86%;
	padding: 12px;
}
.monitor {
	justify-self: center;
    z-index: 1;
}
#cockpitstate {
    height: 28px;
    background-color: black;
    text-align: center;
}
#cockpitstate2 {
    height: 24px;
}
#cockpitctrl {
	margin-top: 10px;
}
#last-cmds-list {
    text-align: left;
    margin-left: 12px;
    font-size: 0.95em;
    list-style: none;
    display: block;
}
#last-comp-cmds-list {
    display: none;
}
@media all and (max-width: 1500px) {
    .ToolPaneHor label {
        visibility: hidden;
        width: 0;
    }
    header {
        grid-template-columns: 20% 10% 1fr 15% 2%;
    }
}    
@media all and (max-width: 1200px) {
    #comp-name, #feat-name {
        visibility: hidden;
    }
    header {
        grid-template-columns: 20% 0% 1fr 0% 2%;
    }
}    
@media all and (max-width: 1000px) {
	main {
	    height: 100%;
	    display: grid;
	    grid-template-rows: minmax(220px, 50%) minmax(220px, 50%);
	    grid-template-columns: minmax(100px, 59.5%) minmax(100px, 40%);
	    grid-template-areas:
	    "arena controls"
	    "history history";
	    gap: 4px;
	    padding: 4px;
	}
    header {
        grid-template-columns: 0% 0% 1fr 0% 2%;
    }
    .ToolPaneHor label {
        visibility: hidden;
        width: 0;
    }
}

@media all and (max-width: 768px) {
    /* ADDITIONAL rules for smaller footprints */
	figure {
	    width: 100%;
	}

	.figbody {
	   border: 1px solid gray; 
	}
	.history .figbody {
	    min-height: 50%;
	    padding: 1px;
	}
	main {
	    grid-template-rows: max-content;
	    grid-template-columns: auto;
	    grid-template-areas:
	    "arena"
	    "controls"
	    "history";
	    gap: 1px;
	    padding: 2px;
    }
	#cockpitctrl {
	    margin-top: 10px;
	}
	.monitor {
	    margin-top: 0px; 
    }
    #last-cmds-list {
        display: none;
    }
    #last-comp-cmds-list {
        text-align: left;
        margin-left: 6px;
        font-size: 0.8em;
        list-style: none;
        display: block;
    }
    
}